<h2>
	<%= link_to @prose_work.title.titleize, prose_work_url(@prose_work) %> <%= link_to @prose_book.number, prose_book_url(@prose_book) %>.<%= link_to @chapter.number, chapter_url(@chapter) %>.<%= link_to @section.number, section_url(@section) %>, by <%= link_to @author.name.titleize, author_url(@author) %>
</h2>
	
<p>
	<%= @section.words %>
</p>
