<!DOCTYPE html>
<html>
<head>
  <title>Nomenclator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	
	<link href='<%= asset_path "xeditable.css" %>' rel="stylesheet">
	<script src='<%= asset_path "xeditable.js" %>'></script>
</head>
<body>

<%= yield %>

</body>
</html>
